@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}

body{
  background-color: rgb(0, 0, 0);

}
.header{
    background-color: #000000;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 85px;
    padding: 4px 3%;
}
.header .logo{
    cursor: pointer;
    margin-right: auto;
}

.header .logo img{
    box-align: left;
    height: 80px;
    width: auto;
    transition: all 0.3s;
}

.header .logo img:hover{
    transform: scale(1.2);
}

 .header .nav-links{
    list-style: none;
 }
 
 .header .nav-links li{
    position: relative;
    display: inline-block;
    padding: 0 20px;
 }

 .header .nav-links li:hover {
transform: scale(1.1);
 }
 .header .nav-links a{
    font-size: 700;
    color: #eceff1;
    text-decoration: none; 
 }
.header .nav-links li a:hover{
    color: #ffbc0e;
}

.header .btn button:hover{
    background-color: #eceff1;
    color: #ffbc0e;
    transform: scale(1.1);
}

/* sub menu */
.submenu{
	position: absolute;
	display: none;
	list-style: none;
	width: 200px;
	background-color: rgba(0, 0, 0, .5);
}
.header :hover .submenu{
	display: block;
}
.submenu li:hover{
	background-color: black;
}

.article #pagina-uno {
    display: flex;
    
      }
    
    
    html {
        scroll-behavior: smooth;
    }
    
    .articlee section img {
        width: 300px;
        height: auto;
    }
    
    .articlee section {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
    
    .barra nav {
        position: fixed;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }
    
    .barra nav a {
        border: 3px solid #000;
        border-radius: 50%;
        display: block;
        margin: 10px;
        height: 50px;
        width: 50px;
    }
    
    .barra nav a:nth-child(1), .article #pagina-uno{
        background-color: #049ca785; 
    }
    
    .barra nav a:nth-child(2), .article #pagina-dos{
        background-color: #ff151546;
    }
    
    .barra nav a:nth-child(3), .article #pagina-tres{
        background-color: #3747439f;
    }
    
  
.footer a{
  font-size: 1.2rem;
  text-decoration: none;
  text-align: right;
  margin: .10rem;
  color: var(--color-white);
  background-color: var(--color-black);
  padding:.5rem .73rem;
  border-radius: 55%;
}

.jardin {
  display: flex;
  align-items: center;
  padding: 50px;
  background-image: url(imagenes/mass.jpeg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin-top: 10px;
  box-shadow: inset 0 0 30px rgb(8, 81, 129);
}
.tar {
  display: flex;
  align-items: center;
  padding: 50px;
  background-image: url(imagenes/vy.jpeg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin-top: 10px;
  box-shadow: inset 0 0 30px rgb(8, 81, 129);
}
.aventura {
    display: flex;
    align-items: center;
    padding: 50px;
    background-image: url(imagenes/JA.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #3747439f;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-top: 10px;
    box-shadow: inset 0 0 30px rgb(8, 81, 129);
  }